@import "tailwindcss";
@config "../tailwind.config.mjs";

@custom-variant dark (&:where(.dark, .dark *));

/*default is light theme*/
:root {
  --background: #ffffff;
  --foreground: #171717;
}
/*the dark theme*/
.dark {
  --background: #ffffff;
  --foreground: #171717;
}
/* the operating system's theme */
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}


body {
  font-family: Arial, Helvetica, sans-serif;
}

.theme-root {
  background: var(--background);
  color: var(--foreground);
}

h2 {
  @apply text-2xl font-bold;
}

.neon-shadow {
  @apply shadow-[0_0_10px_theme('colors.purple.200'),0_0_25px_theme('colors.purple.700')];
}
