@import "tailwindcss";
@config "../tailwind.config.mjs";

@custom-variant dark (&:where(.dark, .dark *));

/*the dark theme*/
html.dark {
  --background: #0a0a0a;
  --foreground: #ededed;
}
html.light {
  --background: #ffffff;
  --foreground: #171717;
}
html.light.hot {
  --primary: hsl(287, 70%, 52%);
  --primary-foreground: hsl(287, 70%, 92%);
  --border: hsl(287, 70%, 52%);
}
html.dark.hot {
  --primary: hsl(25, 83%, 55%);
  --primary-foreground: hsl(25, 83%, 92%);
  --border: hsl(25, 83%, 55%);
}
html.light.cold {
  --primary: hsl(204, 70%, 52%);
  --primary-foreground: hsl(204, 70%, 92%);
  --border: hsl(204, 70%, 52%);
}
html.dark.cold {
  --primary: hsl(171, 88%, 26%);
  --primary-foreground: hsl(171, 88%, 96%);
  --border: hsl(171, 88%, 26%);
}

/* the operating system's theme */
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@theme inline {
  --font-sans: "Inter", sans-serif;
  --font-mono: "JetBrains Mono", monospace;
}


/*default is light theme*/
:root {
  font-family: var(--font-sans);
  background: var(--background);
  color: var(--foreground);
}

h2 {
  @apply text-2xl font-bold;
}

.neon-shadow {
  @apply shadow-[0_0_10px_theme('colors.purple.200'),0_0_25px_theme('colors.purple.700')];
}

/* define button styles for light and dark themes */
.btn-primary {
  @apply bg-[var(--primary)] text-[var(--primary-foreground)] cursor-pointer rounded-md px-4 py-2 shadow-lg;
}

.btn-secondary {
  @apply bg-[var(--background)] text-[var(--border)] border border-[var(--border)] cursor-pointer rounded-md px-4 py-2 shadow;
}